@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.error {
  font-family: 'Roboto', sans-serif;
  text-align: left;
  width: 100%;
  color: rgb(255, 89, 89);
}

.success {
  font-family: 'Roboto', sans-serif;
  text-align: left;
  width: 100%;
  color: rgb(77, 238, 125);
}
